<div class="container" style="height: 100vh; padding-top: 100px;">
  <div class="row">
    <div class="col col-xs-12 col-md-4 col-md-offset-4">
      <h1>Editing <%= @cocktail.name %></h1>
        <%= render 'form', cocktail: @cocktail %>
        <p> </p>
        <%= link_to 'Add Ingredients', new_cocktail_dose_path(@cocktail.id)  %> |
        <%= link_to 'Show', @cocktail %> |
        <%= link_to 'Back', cocktails_path %>
    </div>
  </div>
</div>
